# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
*.egg-info/
dist/
build/

# Node
node_modules/
.plasmo/
build/
chrome-mv3-dev/
chrome-mv3-prod/
.next/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
